<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>musikk</title>
</head>

<script type="text/javascript" src="/static/fixi.js"></script>
<script type="text/javascript" src="/static/musikk.js"></script>

<body>
  <div class="overview">
    <!-- Overview aside-->
    <aside>
      <a href="#"
	 fx-trigger="click"
	 fx-target="#explore"
	 fx-action="/library"
	 fx-swap="innerHTML"
	 >
	<h1>Library</h1>
      </a>
      <h2>Artists</h2>
      <ul>
	$artist_list
      </ul>
      <hr>
      <h2>Albums</h2>
      <ul>
	$album_list
      </ul>
    </aside>

    <!-- Dynamic explorer-->
    <main id="explore">
      $album_grid
    </main>
  </div>

  <footer>
    <!-- Track info -->
    <div class="track-info">
      <img id="track-cover" src="" alt="Album Cover">
      <div>
	<!-- We replace these with data from the dataset on the "player-source" -->
        <div id="track-title" class="track-title">Ingen sang</div>
        <div id="track-artist" class="track-artist">Ingen artist</div>
      </div>
    </div>

    <!-- Audio player -->
    <div class="audio-container">
      <audio id="audio-player" controls>
        <source id="player-source">
        Your browser does not support the audio element.
      </audio>
    </div>
  </footer>
</body>

</html>
